# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Local vector DB / embeddings / cache
chat_rag_db/
chroma/
chroma_db/
faiss_index/

# Environment / secrets
.env

# OS / editor junk
.DS_Store
.vscode/
*.log
